@import "variables";

$background-color-header: rgba(12,12,12,0.8);
$my-blue: #476eff;

header {

  nav {

    &.navbar-default {
      background-color: $background-color-header;
      border-color: transparent;

      a {
        color: $font-color !important;

        &:hover {
          color: $font-color-hover !important;
        }
      }


    }

    .navbar-nav {

      #lien-actif {
        @media (min-width: 768px){
          border-bottom: solid $my-blue 3px;
        }

        @media (max-width: 767px) {
          background-color: $my-blue;
        }

      }

    }

  }
}
