@import "variables";

$my-blue: #476eff;

header {

  nav {

    &.navbar-default {
      background-color: $background-color;
      border-color: transparent;
      -moz-box-shadow: 0px 5px 10px 0px #000000;
      -webkit-box-shadow: 0px 5px 10px 0px #000000;
      -o-box-shadow: 0px 5px 10px 0px #000000;
      box-shadow: 0px 5px 10px 0px #000000;
      filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=180, Strength=10);

      a {
        color: $font-color !important;

        &:hover {
          color: $font-color-hover !important;
        }
      }


    }

    .navbar-nav {

      #lien-actif {
        @media (min-width: 768px){
          border-bottom: solid $my-blue 3px;
        }

        @media (max-width: 767px) {
          background-color: $my-blue;
        }

      }

    }

  }
}
