header nav.navbar-default {
  background-color: #222222;
  border-color: transparent;
  -moz-box-shadow: 0px 5px 10px 0px #000000;
  -webkit-box-shadow: 0px 5px 10px 0px #000000;
  -o-box-shadow: 0px 5px 10px 0px #000000;
  box-shadow: 0px 5px 10px 0px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=180, Strength=10); }
  header nav.navbar-default a {
    color: #d1d1d1 !important; }
    header nav.navbar-default a:hover {
      color: white !important; }

@media (min-width: 768px) {
  header nav .navbar-nav #lien-actif {
    border-bottom: solid #476eff 3px; } }

@media (max-width: 767px) {
  header nav .navbar-nav #lien-actif {
    background-color: #476eff; } }
