/* Empty. Add your own CSS if you like */

#imageBackground {
  /*   flex: 1 auto !important; */

  max-height: 40% ;
  max-width: 100% ;
}

#imageCarrousel {
  max-height: 130px;
}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.scroll {
  min-width: 50%;
}
.bar.bar-loading {
  display: block;
  height: 24px;

  /* starts right below a normal header */
  top: 44px;

  /* make the text centered vertically and horizontally */
  text-align: center;
  padding: 0;
  line-height: 24px;

  /* transition 'sliding down' (check below)*/
  -webkit-transition: 200ms all;
}


/*
 * make the content's top changes animate.
 * might not always look good, but looks
 * good when our loader is added & removed
 */
.has-header {
  -webkit-transition: 200ms top;
}
.has-header.has-loading {
  /* 44px (header) + 24px */
  top: 68px;
}

/* make loading bar slide up/down */
.bar-loading.ng-enter,
.bar-loading.ng-leave.ng-leave-active {
  height: 0;
  border-width: 0px;
}
.bar-loading.ng-enter.ng-enter-active,
.bar-loading.ng-leave {
  height: 24px;
  border-width: 1px;
}

.ion-slide {
  height: 100%;
}

.slider-slides {
  height: 100%;

}

#imagehome {
  max-height: 40%;
}
